.ant-layout {
  height: 100%;
  overflow: auto;

  // sidemenu
  .ant-layout-sider {
    background-color: #f5f5f5 !important;
    .ant-menu {
      background-color: transparent;
    }
  }

  //content
  .ant-layout-content {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 24px;
  }
}

//table
thead {
  .ant-table-cell {
    background-color: #3c6cb4 !important;
    color: #fff !important;
  }
  .ant-table-column-sorter {
    color: #fff !important;
  }
}

//form
.ant-upload.ant-upload-select {
  height: 22rem !important;
}